<div class="container">
  <h2>このユーザについて</h2>
  <p><%= @user.email %></p>
  <% if user_signed_in? %>
    <% if current_user.id == @user.id%>
      <%= link_to "ユーザ情報を編集する", edit_user_registration_path %>
    <% end %>
  <% end %>

</div>
