// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer_index {
  // height: 100%;
  width: 72%;
  margin-top: 10px;
  margin-left: 20px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: solid 1px silver;
}

h3 {
  border-bottom: solid 1px silver;
}

.answer_index_content {
  margin: 20px;
  font-size: 20px;
  width: 80%;
}

.answer_index_name {
  width: 150px;
  margin-left: auto;
}
