// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tag_list{
  margin: 20px;
  background-color: #ffffff;
}
.tag{
  font-size: 30px;
  line-height: 50px;
}
.tag_area{
  font-size: 10px;
  margin: 10px;
}